@import "../../scss//VARIABLES.scss";

.titleSection {
  //border: 1px solid red;
  width: 40vw;
  &__title {
    font-weight: 300;
    font-size: 3rem;
    line-height: 5rem;
    letter-spacing: 0.05em;
    margin-bottom: 0.8rem;
    color: $third;
  }
  &__subTittle {
    font-weight: 300;
    font-size: 1rem;
    line-height: 2rem;
    letter-spacing: 0.05em;
    color: $third;
  }
  &__button {
    margin-top: 3rem;
  }
}
