@import "../../scss/KEYFRAMES.scss";
.css-1cm5myo {
  max-height: 90vh !important;
  max-width: 90vw !important;
}
.css-6b2qbc {
  width: 100vw !important;
}

.gallery {
  width: 100%;
  height: 100vh;
  position: relative;
  animation: fadeIn 1s;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  &__imagesBox {
    margin-top: 15vh;
    position: relative;
    min-height: 85vh;
    width: 70%;
    padding-bottom: 5vh;
  }

  &__titleBox {
    position: fixed;
    top: 15vh;
    left: 4%;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    font-style: normal;
    font-weight: 300;
    font-size: 1.1rem;
    letter-spacing: 0.02em;
  }
  &__btn {
    position: fixed;
    bottom: 10vh;
    left: 4%;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    font-size: 1.5rem;
    transition: 0.2s;
    &:hover {
      scale: 1.2;
    }
  }
}
