.tile {
  cursor: pointer;
  width: 35vw;
  height: 35vw;

  background-image: url("../../../assets/images/mini_img.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
@media screen and (max-width: 769px) and (orientation: portrait) {
  .tile {
    width: 35vh;
    height: 35vh;
  }
}
