.tile {
  cursor: pointer;
  width: 32.3%;
  margin: 0 0.5% 1% 0.5%;
  height: 50vh;

  background-image: url("../../../assets/images/mini_img.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
@media screen and (max-width: 769px) and (orientation: portrait) {
  .tile {
    width: 35vh;
    height: 35vh;
  }
}
