@import "../../scss/KEYFRAMES.scss";

.offer {
  min-height: 100vh;
}
.offer__Top {
  width: 100%;
  min-height: 100vh;
  display: flex;

  &__contentBox {
    flex: 7;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 6vw 6vw 0 6vw;
    animation: slideFromTop 1.5s;
    margin-top: 5vh;
    //background-color: lightcoral;
    &__item {
      font-style: normal;
      font-weight: normal;
      letter-spacing: 0.05em;
      margin-bottom: 2rem;
      &--title {
        font-size: 2.5rem;
        line-height: 5rem;
        text-transform: uppercase;
      }
      &--price {
        font-size: 1.9rem;
        line-height: 4rem;
        margin-bottom: 0;
      }
      &--info {
        font-weight: 300;
        font-size: 1rem;
        line-height: 1.2em;
        margin-bottom: 5rem;
      }
      &--subTitle {
        font-size: 1.2rem;
      }
      &--description {
        font-weight: 300;
        font-size: 1rem;
        line-height: 2.5rem;
      }
    }
  }
  &__backBox {
    animation: fadeIn 3s;
    flex: 1;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    &__btn {
      cursor: pointer;
      writing-mode: vertical-rl;
      text-orientation: mixed;

      font-style: normal;
      font-weight: 300;
      font-size: 1.8rem;
      line-height: 4rem;
      letter-spacing: 0.05em;
      transition: 0.2s;
      &:hover {
        scale: 1.2;
      }
    }
  }
  &__imageBox {
    animation: slideFromTop 1s;
    flex: 5;
  }
}
.offer__Bot {
  width: 100%;
  padding: 6vw;
  &__content {
    font-style: normal;
    font-weight: normal;
    letter-spacing: 0.05em;
    margin-bottom: 2rem;
    font-weight: 300;
    font-size: 1rem;
    line-height: 2.5rem;
  }
}

@media screen and (max-width: 769px) and (orientation: portrait) {
  .offer__Top {
    &__imageBox {
      display: none;
    }
    &__backBox {
      height: 60vh;
      margin-right: 2vw;
    }
  }
}

@media screen and (max-width: 737px) and (orientation: landscape) {
  .offer__Top {
    &__imageBox {
      display: none;
    }
    &__contentBox {
      padding: 4%;
    }
    &__backBox {
      height: 60vh;
    }
  }
}
