.facebook {
  cursor: pointer;
  position: absolute;
  bottom: 3%;
  right: 4%;
  width: 1.5rem;
  height: 1.5rem;
}

@media screen and (orientation: portrait) {
  .facebook {
    width: 2rem;
    height: 2rem;
    right: 6%;
  }
}
@media screen and (max-width: 801px) and (orientation: landscape) {
  .facebook {
    width: 2rem;
    height: 2rem;
    right: 4%;
    bottom: 4%;
  }
}
