@import "../../scss/VARIABLES.scss";

.menuItem {
  cursor: pointer;
  margin-left: 10%;

  &:hover &__list {
    display: block;
    transform: scaleY(1);
  }
  &:hover &__line {
    transform: scaleX(1);
  }
  &__link {
    position: relative;
    text-transform: uppercase;
    font-weight: normal;
    text-align: center;
    font-size: 0.7rem;
    letter-spacing: 0.15em;
    padding: 1rem 0;
  }
  &__list {
    position: absolute;
    list-style: none;
    transform: scaleY(0);
    transition: 0.2s;
    transform-origin: top;
  }
  &__line {
    transform-origin: left;
    border: none;
    border-top: 1px solid $third;
    margin-top: 5px;
    transform: scaleX(0);
    transition: 0.2s;
  }
}
/*
@media screen and (max-width: 415px) {
}
@media screen and (min-width: 416px) and (max-width: 769px) {
}
@media screen and (max-width: 737px) and (orientation: landscape) {
}
*/
