.main {
  height: 100vh;
  width: 100%;
  position: relative;
  z-index: 1;
  &__mask {
    position: absolute;
    width: 40%;
    height: 100vh;
    left: 0px;
    top: 0px;
    z-index: -1;
    background: linear-gradient(
      270deg,
      #d8d0c7 0%,
      rgba(223, 204, 183, 0.9) 100%
    );
  }
  &__image {
    position: absolute;
    z-index: -1;
    width: 60%;
    height: 100vh;
    margin-left: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    &__img {
      height: 100%;
    }
  }
  &__titleBox {
    position: absolute;
    margin-left: 20%;
    margin-top: 35vh;
  }
}
@media screen and (max-width: 415px) and (orientation: portrait) {
  .main {
    &__mask {
      display: none;
    }
    &__image {
      width: 100%;
      margin-left: 0;
    }
    &__titleBox {
      margin-top: 35vh;
      text-align: center;
      margin-left: 0;
      width: 100%;
    }
  }
}

@media screen and (min-width: 416px) and (max-width: 769px) {
  .main {
    &__titleBox {
      margin-left: 10%;
    }
  }
}
