.nav {
  display: flex;
  align-items: center;
  position: absolute;
  z-index: 2;
  width: 92%;
  margin: 2% 4% 0 4%;
  &__logoBox {
    flex: 1;
    display: flex;
    align-items: center;
  }
  &__menuBox {
    flex: 2;
  }
  &__burgerBox {
    flex: 1;
    display: none;
    justify-content: flex-end;
  }
}

@media screen and (max-width: 769px) and (orientation: portrait) {
  .nav {
    width: 88%;
    margin: 5% 6% 0 6%;
    &__menuBox {
      display: none;
    }
    &__burgerBox {
      display: flex;
    }
  }
}

@media screen and (max-width: 801px) and (orientation: landscape) {
  .nav {
    width: 92%;
    margin: 3% 4% 0 4%;
    &__menuBox {
      display: none;
    }
    &__burgerBox {
      display: flex;
    }
  }
}
