@import "../../../app/scss/VARIABLES.scss";

.arrow {
  cursor: pointer;
  display: none;
  width: 1.5rem;
  height: 1.5rem;
  box-sizing: border-box;
  position: absolute;
  bottom: 5%;
  right: 4%;
  transform: rotate(-45deg);

  &::before {
    content: "";
    width: 100%;
    height: 100%;
    border-width: 0.4vmin 0.4vmin 0 0;
    border-style: solid;
    border-color: $third;
    transition: 0.2s ease;
    display: block;
    transform-origin: 100% 0;
  }

  &:after {
    content: "";
    float: left;
    position: relative;
    top: -100%;
    width: 100%;
    height: 100%;
    border-width: 0 0.4vmin 0 0;
    border-style: solid;
    border-color: $third;
    transform-origin: 100% 0;
    transition: 0.2s ease;
  }

  &:hover::after {
    transform: rotate(45deg);
    border-color: $primary;
    height: 120%;
  }
  &:hover::before {
    border-color: $primary;
    transform: scale(0.8);
  }
}

@media screen and (orientation: portrait) {
  .arrow {
    right: 6%;
  }
}
@media screen and (max-width: 801px) and (orientation: landscape) {
  .arrow {
    right: 4%;
    bottom: 4%;
  }
}
