.menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}
/*
@media screen and (max-width: 415px) {
}
@media screen and (min-width: 416px) and (max-width: 769px) {
}
@media screen and (max-width: 737px) and (orientation: landscape) {
}
*/
