.subMenuItem {
  padding: 0.5rem 0;

  &:hover &__link {
    font-weight: 600;
  }
  &__link {
    text-transform: uppercase;
    font-size: 0.6em;
    letter-spacing: 0.15em;
  }
}
/*
@media screen and (max-width: 415px) {
}
@media screen and (min-width: 416px) and (max-width: 769px) {
}
@media screen and (max-width: 737px) and (orientation: landscape) {
}
*/
