@import "../../scss/KEYFRAMES.scss";

.offers {
  width: 100%;
  height: 100vh;
  position: relative;
  &__imageBox {
    height: 100vh;
    width: 35vw;
    right: 10vw;
    position: absolute;
    z-index: -1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    overflow: hidden;
    &__image {
      height: 100%;
      animation: slideFromBot 1.5s;
    }
  }
  &__handler {
    animation: slideFromBot 1.5s;
    position: absolute;
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 30vw;
    left: 10vw;
    top: 20vh;
    border-bottom: 1px solid #2f2f2f;
    &__item {
      text-transform: uppercase;
      font-size: 1.3rem;
      line-height: 4rem;
      cursor: pointer;
      transition: 0.2s;
      &--active {
        scale: 1.5;
        font-weight: bold;
      }
      &:hover {
        scale: 1.3;
      }
    }
  }
  &__content {
    animation: slideFromBot 1.5s;
    position: absolute;
    width: 30vw;
    height: 43vh;
    top: 35vh;
    left: 10vw;
  }
}
@media screen and (max-width: 415px) {
  .offers {
    &__imageBox {
      display: none;
    }
    &__handler {
      border-bottom: none;
      width: 60vw;
      left: 20vw;
      &__item {
        font-size: 1.4rem;
      }
    }
    &__content {
      left: 20vw;
      width: 60vw;
    }
  }
}
@media screen and (min-width: 416px) and (max-width: 769px) and (orientation: portrait) {
  .offers {
    &__imageBox {
      justify-content: center;
    }
  }
}
@media screen and (max-width: 737px) and (orientation: landscape) {
  .offers {
    &__imageBox {
      display: none;
    }
    &__handler {
      left: 15vw;
    }
    &__content {
      width: 70vw;
      left: 15vw;
    }
  }
}
